<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adam.mycreditcards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.adam.mycreditcards.ui.MainActivity"
            android:theme="@style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adam.mycreditcards.ui.AddActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.adam.mycreditcards.ui.CardsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.adam.mycreditcards.ui.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.adam.mycreditcards.ui.Cards_conf_Activity"
            android:label="@string/title_activity_cards_conf_" >
        </activity>
    </application>

</manifest>